{% extends 'base.html.twig' %}
{% block title %}
	Home
{% endblock %}
{% block body %}
    <h2> About </h2>
	<main class="container">
		<div>
			<button href="{{ path('home') }}">Go to Home
			</button>
		</div>
        
	</main>
{% endblock %}
