{% extends 'base.html.twig' %}
{% block title %}
	Home
{% endblock %}
{% block body %}
    <h2> Home </h2>
	<main class="container">
		<div>
			<button href="{{ path('about') }}">Go to About
			</button>
		</div>
        
	</main>
{% endblock %}
